.card_list{
    display: flex;
   justify-content: flex-start;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
}

.card_list a{
    width: 29%;
    color: #000;
    text-decoration: none;
   
}

.card_list li{
    /* width: 29%; */
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-shadow: 0px 3px 11px -4px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_list li img{
    width: 100%;
}


.add_button{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.cart_add_btn{
    font-size: 12px;
    padding: 4px;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    border: none;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.price span{
    font-size: 12px;
    font-family: sans-serif;
    color: rgb(179, 179, 179);
}

.price h5{
    font-weight: 600;
    font-family: sans-serif;
}

.brand_cart{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 10px;
}

.brand_cart h5 span{
    color: #03A9F4;;
}

.add_more_btn{
   display: flex;
   justify-content: center;
}

.add_more_button{
    width: 93%;
    padding: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 3px;
}




@media screen and (max-width: 767px){
    .card_list{
        padding: 0px;
        gap: 10px;
    }
    .card_list li{
        width: 100%;
    }

    .card_list li p{
        font-size: 12px;
    }
    .price h5{
        font-size: 12px;
    }
    .price span{
        font-size:11px ;
    }
    .brand_cart{
        display: none;
    }

    .card_list a{
        width: 48%;
        color: #000;
        text-decoration: none;
       
    }
    .add_more_button{
        width: 100%;
    }
}