.cart_contianer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 90px;
}

.cart_product {
    padding:0px 10px;
    border: 1px solid #aaa7a7;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cart-img{
    width: 100px;
}

.cart_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px;
}

.cart_details h4 {
    font-size: 16px;
}
.cart_total{
    text-align: end;
    padding-left:4px ;
}
.cart_trash{
    border: none;
    width: 10px;
    position: absolute;
    top: 29px;
    right: 16px;
    color: red;
    background-color: #fff;
}

.empty_cart{
    
    border: 1px solid #aaa7a7;
    border-radius: 3px;
    
}

.cart_checkout{
    text-align: end;
}

.cart_checkout button{
    width: 200px;
    padding: 7px 0px;
    background-color: #000;
    color: #fff;
    border: 0;
    border-radius: 2px;
}



.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50% !important;
    padding: 5px;
    bottom: 20;
  }
  .popup-arrow {
    display: none;
  }
  
  .popup_details p{
    margin-top: 60px;
  }
  .cart_pop_img{
    width: 205px;
}

@media screen and (max-width: 767px){

    .cart_product {
        padding: 0px 10px 0px 0px;
    }
    .cart-img{
        width: 50px;
        height: 50px;
    }
    .cart_details h4 {
        font-size: 12px;
    }
    .cart_details h5 {
        font-size: 15px;
    }
    .cart_trash{
     top: 0;
     right: 0;
     position: static;
   
    }
    .cart_details {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0;
        justify-content: center;
       
    }
    .cart_total{
      font-size: 15px;
    }
    .cart_title{
        font-size: 25px;
    }
    .cart_checkout button{
        width: 100%;
    }

    .popup-content{
        width: 70% !important;
    }

    .cart_pop_img{
        width: 205px;
    }
    .popup_details p{
        margin-top: 0px;
      }
    
}